<h1>Form</h1>

<%= form_with model: @article do |form| %>

<div>
<%= form.label :name %><br>
<%= form.text_area :name %>
</div>

<div>
<%= form.label :age %><br>
<%= form.text_area :age %>
</div>

<div>
<%= form.label :address %><br>
<%= form.text_area :address %>
</div>


<div>
<%= form.submit %>
</div>
<% end %>